<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>mmm</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">

	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

	<style>body { opacity: 0; overflow-x: hidden; } html { background-color: #fff; }</style>

</head>

<body>

	<header>
		<div class="container-fluid">
			<div class="row">
				<div class="header-wrap">
					<div class="header-left">
					
						<div class="left-mnu">
							<nav>
								<ul>
									<li><a href="#"><img src="img/desktop.png" alt="icon"> Dashboard</a></li>
									<li><a href="#"><img src="img/mavro.png" alt="icon"> Referrals</a></li>
								
								</ul>
							</nav>
						</div>
					</div>

					<div class="header-right">
						<div class="right-mnu">
							<nav>
								<ul>
									<li class="mail-mnu">
										<a href="#"><img src="img/message.png" alt="icon"><span class="mail-count">0</span> </a>
										<ul>
										
										
										</ul>
									</li>
									<li><a href="#"><img src="img/ticket.png" alt="icon"> Support</a></li>
									<li>
										<a href="#"><img src="img/info.png" alt="icon"> Information <i class="fa fa-caret-down" aria-hidden="true"></i>
										</a>
										<ul>
											<li><a href="#"><img src="img/news.png" alt="icon"> News</a></li><li><a href="#"><img src="img/question.png" alt="icon"> FAQs</a></li>
											<li><a href="#"><img src="img/info.png" alt="icon"> Promotional materials</a></li><li><a href="#"><img src="img/api.png" alt="icon"> Registration buttons</a></li>
										</ul>
									</li>
									<li><a href="#"><img src="img/exit.png" alt="icon"> Logout</a></li>
								</ul>
							</nav>
						</div>
					</div>

					<div class="mobil-mnu">
						<a href="#" class="toggle-mnu "><span></span></a>
					</div>
					
				</div>
			</div>
		</div>
	</header>

	<div class="main first-page">
		<div class="wrap-main">
			<div class="container">
				<div class="row">
					<div class="menu_warning grey">
						<p><span>WARNING! THIS IS A COMMUNITY OF MUTUAL FINANCIAL HELP!</span> Participate only with spare money. Do not contribute all the money you have.</p>
					</div>

					<div class="baner-full">
						<a href="#"><img src="img/banner1.jpg" alt="baner1"></a>
					</div>
<br>
<div class="baner-full">
						<a href="#"><img  src="img/banner2.jpg" alt="baner2"></a>
					</div>

					<div class="big-buttons ">
						<div class="wrap-items">
							<div class="item">
								<a href="#"><span class="title">I Want to Provide Help</span> "Acquire" Mavro (Make a Contribution)</a>
							</div>

							<div class="item">
								<a href="#"><span class="title">Get Help</span>"Cash in" your Mavro, (Make a Withdrawal)</a>
							</div>
						</div>
					</div>

				


								
	

	<link rel="stylesheet" href="css/main.min.css">
	<script src="js/scripts.min.js"></script>
	<!-- <script src="js/commonm.js"></script> -->
	<script src="js/common.js"></script>

</body>
</html>
