<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>7 page with popups</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">

	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

	<style>body { opacity: 0; overflow-x: hidden; } html { background-color: #fff; }</style>

</head>

<body>


	<a href="#pop4" class="popup">button 1</a>

	<a href="index.html">Link on main-page</a>

	<div id="pop4" class="wrap-pop-lay wrap-pop-lay-pink login">
		<div class="wrap-pop">
			<form>
				<div class="logo-row">
					<div class="translate">Login to system</div>
				</div>
				<div class="lf_line">
                    <label class="translate">
                    	<span>Your language:</span>
	                    <select id="user_lang">
	                        <option value="ru">русский</option>
	                        <option value="en">english</option>
	                        <option value="es">español</option>
	                        <option value="pt">português</option>
	                        <option value="ph">pilipino</option>
	                        <option value="cn">中文</option>
	                        <option value="hi">हिन्दी</option>
	                        <option value="id">Bahasa Indonesia</option>
	                        <option value="jp">日本語</option>
	                        <option value="tr">Türkçe</option>
	                        <option value="ko">한국어</option>
	                	</select>
                	</label>
                </div>

                <div class="lf_line">
                    <label class="translate">
                    	<span>E-Mail or phone number:</span>
                    	<div class="right">
                    		<input name="uname2" type="text" class="input_text" autocomplete="off">
	                    	<p class="lf-italic italic translate">(for example: +7 903 999-66-77)</p>
                    	</div>
	                    
                	</label>
                </div>

                <div class="lf_line">
                    <label class="translate">
                    	<span>Password:</span>
	                    <input name="upass" type="password" class="input_text">
                	</label>
                </div>

                <div class="bottom">
                	<div class="wrap-bott">
                		<button class="button darkorange">Login</button>
                		<a href="#pop5" class="link italic popup">Get a new password?</a>
                		<p>If you have forgotten your old password or login to PO first time</p>
                		<a href="#pass-recovery" class="link italic popup">Get a new password by email</a>
                	</div>
                </div>
			</form>
			
		</div>
	</div>


	<div id="pop5" class="wrap-pop-lay wrap-pop-lay-pink help">
		<div class="wrap-pop">
			<form>
				<div class="logo-row">
					<div class="translate">Password recovery</div>
				</div>
				<div class="lf_line">
					<label>
						<div class="left">
							<span>E-Mail or mobile phone:</span>
							<em>(for example: +7 903 999-66-77)</em>
						</div>
						<div class="right">
							<input name="recovery_email" type="text"  class="input_text">
						</div>
					</label>
            	</div>
            	<div class="button-block">
            		<button class="button green">Send a request</button>
            		<a href="#" class="button red close">Cancel</a>
            	</div>
            	<a href="#" class="close close-x"></a>
			</form>
		</div>
	</div>


	<div id="pass-recovery" class="wrap-pop-lay wrap-pop-lay-pink pass-recovery">
		<div class="wrap-pop">
			<form>
				<div class="logo-row">
					<div class="translate">Change password</div>
				</div>
				

                <div class="lf_line">
                    <label class="translate">
                    	<span>E-Mail or phone number:</span>
                    	<div class="right">
                    		<input name="uname2" type="text" class="input_text" autocomplete="off">
	                    	<p class="lf-italic italic translate">(for example: +7 903 999-66-77)</p>
                    	</div>
	                    
                	</label>
                </div>

                <div class="lf_line">
                    <label class="translate">
                    	<span>Recovery code:</span>
	                    <input name="Recovery code" type="text" class="input_text">
                	</label>
                </div>

                <div class="lf_line">
                    <label class="translate">
                    	<span>New password:</span>
	                    <input name="New password" type="text" class="input_text">
                	</label>
                </div>

                <div class="lf_line">
                    <label class="translate">
                    	<span>Repeat new password:</span>
	                    <input name="New password" type="text" class="input_text">
                	</label>
                </div>

                <div class="bottom">
                	<div class="wrap-bott">
                		<div class="button-block">
                			<button class="button darkorange">Change password</button>
                		</div>
                		<div class="button-block right">
                			<a href="#" class="button red close">Cancel</a>
                		</div>
                		
                		
                	</div>
                </div>
			</form>
			
		</div>
	</div>
	

	</div>
	
	

	<link rel="stylesheet" href="css/main.min.css">
	<script src="js/scripts.min.js"></script>
	<!-- <script src="js/commonm.js"></script> -->
	<script src="js/common.js"></script>

</body>
</html>
